/* CSS overwrite */
* {
	font-family: "Lexend Deca", sans-serif;
}
html {
	scroll-behavior: smooth;
}
body {
	background: #e0e0e0;
	padding: 0px;
	margin: 0px;
}

h2 {
	font-weight: 300;
	font-size: clamp(0.5rem, 1.5vw + 1rem, 2rem);
	margin-bottom: 0px;
	margin-top: 0px;
}
h3 {
	font-weight: 100;
	font-size: clamp(0.5rem, 1.3vw + 0.2rem, 1.5rem);
	margin-bottom: 0px;
	margin-top: 0px;
}
a {
	text-decoration: none;
}

p {
	font-weight: 300;
	font-size: clamp(0.5rem, 1.5vw + 0.6rem, 1.6rem);

	text-align: center;
}
span {
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
	font-size: 4rem;
	color: #474554;
	text-shadow: 8px 8px 20px #808080, -8px -8px 20px #ffffff;
}

label {
	font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1.6rem);
}
input[type="text"] {
	border-radius: 10px;
	border: 0.5px solid gray;
	width: 100%;
	min-height: 2rem;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 5px 5px 10px #7d7d7d, -5px -5px 10px #ffffff;
}
input[type="checkbox"] {
	margin: auto;
	border-radius: 50%;
	outline: none;
	border: 1px solid #ddd;
}
input[type="submit"] {
	background: white;
	box-shadow: 20px 20px 60px #949494, -20px -20px 60px #ffffff;
	border: 0px solid black;
	margin: auto;
	border-radius: 20px;
	width: 60%;
	min-height: 3rem;
}
form {
	width: 100%;
	max-width: 300px;
	display: flex;
	flex-direction: column;
}
textarea {
	border-radius: 10px;
	min-height: 8rem;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 5px 5px 10px #7d7d7d, -5px -5px 10px #ffffff;
}
/* Navbar */

#navbar {
	height: 3rem;
	margin-bottom: 2rem;
	width: 60%;
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
	border-bottom: 1px solid gray;
}
#navbar p {
	font-weight: 200;
	font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1.6rem);
	color: black;
}
/* Usefull content for all sections */
.root {
	width: 80vw;
	margin-right: auto;
	margin-left: auto;
}

.card {
	min-height: 90vh;
	width: 100%;
}

.linkTitle {
	font-weight: 600;
	font-size: clamp(0.5rem, 1.5vw + 0.9rem, 1.9rem);
	color: white;
	cursor: pointer;
	margin-left: 2rem;
}
.divider {
	margin-top: 8vh;
}

.description {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

/* Intro section */
.title {
	font-size: clamp(0.5rem, 3vw + 1.8rem, 5rem);
	margin-left: 3rem;
}

#searchBarContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 40vh;
}

#searchBar {
	width: 60%;
	border: 1px solid black;
	height: 10vh;
	border-radius: 101px;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 20px 20px 39px #bebebe, -20px -20px 39px #ffffff;
	display: flex;
	align-items: center;
	padding-left: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}
#searchIcon {
	height: 7vh;
}
#name {
	font-weight: 200;
	font-size: 2rem;
	overflow: hidden;
	border-right: 0.15em solid blue;
	width: 0;
	animation: typing 2s forwards;
}
.effect {
	animation: typing 2s forwards;
}

.nameContainer {
	display: inline-block;
	overflow: hidden;
	white-space: nowrap;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 100%;
	}
}

#feelingLucky {
	padding: 1rem;
	border-radius: 5px;
	border: 0px solid black;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 20px 20px 39px #bebebe, -20px -20px 39px #ffffff;
}

#feelingLucky:hover {
	background-color: rgb(147, 144, 144);
}

/* About me */
#aboutMe {
	padding: 0.5rem;
	padding-bottom: 2rem;
}
#quoteContainer {
	width: 70%;
	height: 11rem;
	display: flex;
	justify-content: center;
	/* flex-direction: column; */
	align-items: center;
}
mark {
	color: white;
	background: #e04e10;
}
mark:hover {
	background-color: yellow;
}
.quote {
	font-size: clamp(0.5rem, 2vw + 1.2rem, 3.3rem);
	position: relative;
}

.quoteIcon {
	width: clamp(0.5rem, 8vw + 8rem, 14rem);
}

#imageContainer {
	width: 80%;
	display: flex;
	justify-content: right;
	align-items: center;
}

.img {
	position: relative;
	top: -100px;
	z-index: -1;
	left: 100px;
}
/* Education */
#educationSection {
	min-height: 90vh;
}
#educationGrid {
	height: 35vh;
	width: 100%;
	margin-top: 7rem;
	margin-bottom: 7rem;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 30px;
}
.educationItem {
	border-radius: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 17px 17px 34px #808080, -17px -17px 34px #ffffff;
}

.shaded {
	width: 70%;
	height: 40%;

	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.educationItem p {
	font-weight: medium;
	font-size: clamp(0.5rem, 0.7vw + 0.5rem, 1.6rem);
}

#tomasMoro {
}
#tomasMoro:hover {
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 17px 17px 34px #808080, -17px -17px 34px #ffffff;
}
#tec {
	position: relative;
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 17px 17px 34px #808080, -17px -17px 34px #ffffff;
}
#tec:hover {
	background: linear-gradient(145deg, #cacaca, #f0f0f0);
	box-shadow: 17px 17px 34px #808080, -17px -17px 34px #ffffff;
}
#online {
}
#online:hover {
	background: linear-gradient(145deg, #f0f0f0, #cacaca);
	box-shadow: 17px 17px 34px #808080, -17px -17px 34px #ffffff;
}

.educationImg {
	position: absolute;
	z-index: -1;
	top: -15rem;
	left: -15rem;
}

/* Proyects */
#proyectsSection {
	min-height: 90vh;
}

.wrapper {
	width: 100%;
	padding: 0 2rem;
	text-align: center;
}
.polaroid {
	background: #fff;
	padding: 1rem;
	box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);
}
.polaroid > img {
	max-width: 100%;
	height: auto;
}
.caption {
	font-size: 1.2rem;
	text-align: center;
	line-height: 2em;
}
.desc {
	font-size: 1rem;
}
.item {
	width: 30%;
	display: inline-block;
	margin-top: 2rem;
	filter: grayscale(100%);
}
.item .polaroid:before {
	content: "";
	position: absolute;
	z-index: -1;
	transition: all 0.35s;
}
.item:nth-of-type(4n + 1) {
	transform: scale(0.8, 0.8) rotate(5deg);
	transition: all 0.35s;
}
.item:nth-of-type(4n + 1) .polaroid:before {
	transform: rotate(6deg);
	height: 20%;
	width: 47%;
	bottom: 30px;
	right: 12px;
	box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 2) {
	transform: scale(0.8, 0.8) rotate(-5deg);
	transition: all 0.35s;
}
.item:nth-of-type(4n + 2) .polaroid:before {
	transform: rotate(-6deg);
	height: 20%;
	width: 47%;
	bottom: 30px;
	left: 12px;
	box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}
.item:nth-of-type(4n + 4) {
	transform: scale(0.8, 0.8) rotate(3deg);
	transition: all 0.35s;
}
.item:nth-of-type(4n + 4) .polaroid:before {
	transform: rotate(4deg);
	height: 20%;
	width: 47%;
	bottom: 30px;
	right: 12px;
	box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:nth-of-type(4n + 3) {
	transform: scale(0.8, 0.8) rotate(-3deg);
	transition: all 0.35s;
}
.item:nth-of-type(4n + 3) .polaroid:before {
	transform: rotate(-4deg);
	height: 20%;
	width: 47%;
	bottom: 30px;
	left: 12px;
	box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}
.item:hover {
	filter: none;
	transform: scale(1, 1) rotate(0deg) !important;
	transition: all 0.35s;
}
.item:hover .polaroid:before {
	content: "";
	position: absolute;
	z-index: -1;
	transform: rotate(0deg);
	height: 90%;
	width: 90%;
	bottom: 0%;
	right: 5%;
	box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
	transition: all 0.35s;
}
/* Contact Me */

.form {
	box-shadow: 20px 20px 60px #bebebe, -20px -20px 60px #ffffff;
	border: 0px solid black;
	width: 30rem;
	padding: 2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 3vh;
	min-height: 25vh;
	border-radius: 1rem;
}

#social {
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}
